.App {
  text-align: center;
  display: flex;
  height:100%;
}

.SideBar{
  background-color:#1976d2;
  width:max-content;
  height: 100vh;
}
.DashBoard{
  /* background-color:black; */
  width:100%;
  height: 100vh;
}


.SearchBar{
  /* background-color:wheat; */
  height :10vh;
}

.MainContent{
  /* background-color:aquamarine; */
  height :100vh;
}

.charts-container{
  margin: 0px;
  padding: 0px;
  display: block;
  justify-content: center;
  align-items: center;
}
.lineCharts-container{
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
}

.donut{
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
}

.side-bar{
  margin-top:10vh;
}